.text-area {
    -fx-text-fill: white;
    -fx-background-color: #2c2b38;

}

.text-area .content {
    -fx-background-color: #1E1D29 ;

}

 .text-area .list-view .scroll-bar > .increment-button > .increment-arrow,
.list-view .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #6700ff;
}
.text-area .scroll-bar:vertical .thumb {
       -fx-background-color: #696686;
}

.text-area .scroll-bar:horizontal .thumb {
       -fx-background-color: #696686;
}
.text-area .scroll-bar:horizontal{
    -fx-background-color:transparent;
}



.text-area .corner {
           	-fx-background-color: transparent;
}

.text-area .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical{
    -fx-background-color:transparent;
}
